body {
	background: #151515 ;
	color: #ccc ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 300px ;
	font-family: sans-serif ;
}

a {
	color: lightblue ;
}

a:visited {
	color: gray ;
}

h1 {
	text-align: left ;

}

h2 {
	color: tomato ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}

#logo_text h1 a .logo_colour
{ color: #FC9C04;}

#menubar
{ 
  padding-top: 6px;
  padding-left: 0px;} 


ul#menu
{ list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0px;
}

ul#menu li {
  display: inline;
}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: sans-serif;
  font-size: 120%;
  display: inline-block; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 25px 5px 0px;
  text-align: left;
  color: #FFF;
  border: none;} 

ul#menu li.selected a, ul#menu li.selected a:hover
  { color: #FC9C04;}
  
ul#menu li a:hover
  { color: #FC9C04;}